/* Universal Selector */
*{
    font-family: Arial, serif;
    color: blue;
}
/* Element Selector */

p{
    color: cadetblue;
    font-weight:bold;
}

/* Class Selector */
.info{
    font-size:45px;
    color:grey;
}

/* ID Selector */
#heading{
    text-align: center;
    
}
/* Grouping Selectors */
/*Allows you to style multiple HTML elements at the same time using single CSS rule */
h1,p{
    margin: 10px;

}
