/* Universal Selector */
*{
    font-family: Arial, serif;
    color: blue;
}
/* Element Selector */

p{
    color: cadetblue;
    font-weight:bold;
}

/* Class Selector */
.info{
    font-size:45px;
    color:grey;
}