h1{
    text-align: center;

}
.box{

    width:300px;    /*Content width */
    height:150px;   /*Content height */
    padding:20px; /* Space inside the border */
    border:5px solid #8B4513;  /* Border around the padding */
    margin:30px auto;        /* Space outside the border */
    background-color:#FFE2BF;
    text-align: center;
    line-height:150px;


}