/* General Styling*/

body{
    font-family:"Poppins",sans-serif;
    background-color: #FFE2BF;
    color:black;
    margin:30px;
    line-height:1.6;


}

h1{
    text-align: center;
}

.display-demo{
    background-color: gray;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
}

/*Common box styling*/
.box{
    background-color: #FFE2BF;
    border:2px solid #8B4513;
    padding:15px;
    margin:8px;
    text-align:center;

}
/*display:block*/
.block-box{
    display:block;
}
/* display: Inline block*/
.inline-block{
    display:inline-block;

}





