body{
    font-family: Arial, sans-serif;
    font-size:20px;
    padding:0 20px 30px 0;
    line-height:1.4;

}
.flex-container{
    display: flex;
    flex-direction: column-reverse;
    gap:10px;
    border:3px solid black;
    padding:15px;
    width:120px;

    background-color:#f5f5f5;

}
.flex-item {
    width: 75px;
    height: 75px;
    background-color: lightskyblue;
    border:2px solid darkblue;
    text-align: center;
    font-size: 30px;
    color:white;
    font-weight: bold;
    line-height: 1.4;
}
#flex-item-1{
    background-color: lightpink;

}
#flex-item-2{
    background-color: lightskyblue;

}

#flex-item-3{
    background-color: green;

}




