
h1{
    font-size:40px;
    font-weight:bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px ;


}
h2{
    text-align: center;
    color:lightblue;

}

p{
    font-size:25px;
    font-weight:bold;
    font-style:italic;
    color:blue;
    text-align: center;
    font-family:Arial, sans-serif;

}