/*=====================
     PAGE HEADING
  ====================
 */
h1{
    color:black;
}
/*=====================
     SECTION HEADING
  ====================
 */

h2{
    color:#8B4513;
}
/*========================
     COLORS NAME EXAMPLE
  ========================
 */
.named-colors{
    color:black;
}
/*========================
     HEX COLORS EXAMPLE
  ========================
 */
.hex-colors{
    color: #FFE2BF;
}
/*========================
     RGB COLORS EXAMPLE
  ========================
 */
.rgb-colors{
    color: rgb(255, 0, 0);
}
h1{
    background-color: gray;
}