/*=====================
     PAGE HEADING
  ====================
 */
h1{
    color:gray;
}
/*=====================
     SECTION HEADING
  ====================
 */

h2{
    color:#8B4513;
}
/*========================
     COLORS NAME EXAMPLE
  ========================
 */
.named-colors{
    color:black;
}
/*========================
     HEX COLORS EXAMPLE
  ========================
 */
.hex-colors{
    color: #FFE2BF;
}
